<div class="stolen-frosty span6 offset3 text-center">

<h1 class="stolen-h1">Hi I'm Jeremy</h1>
	
<br/>
<%= image_tag @pic.image %>

<h2>
	I felt: <%= @pic.emotion %>
</h2>
<h2>
I learned: <%= @pic.learned %>
	</h2>

<%= link_to 'Back', pics_path, :class => 'btn btn-large btn-warning' %>

<%= link_to 'Delete', pick_path(@pic), :method => :delete, :class => 'btn btn-large btn-danger', :confirm => 'Your sure you wanna delete this?' %>
<br/>
<br/>
<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large'  %>

</div>